<nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" routerLink="/home">Consultorio Web</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Ajustes</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a (click)="logout()">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Buscar...">
            </form>
        </div>
    </div>
</nav>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="nav-side-menu">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                </a>
            </li>

            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Citas <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li><a routerLink="/citas">Calendario</a></li>
                <li><a href="#">Agendar Nueva</a></li>
            </ul>


            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-users fa-lg"></i> Usuarios <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li><a routerLink="/usuarios">Consulta</a></li>
                <li><a routerLink="/altausuario">Registrar Usuario</a></li>
            </ul>


            <li data-toggle="collapse" data-target="#doctores" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> Doctores <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="doctores">
                <li><a href="#">Consulta</a></li>
                <li><a routerLink="/altadoctores">Registrar Nuevo</a></li>
            </ul>


            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profile
                </a>
            </li>
        </ul>
    </div>
</div>